*.o 
*.lo 
*.la 
*.al 
*.libs 
*.so 
*.so.[0-9]* 
*.a 
*.pyc 
*.pyo 
*.rej 
*.ilk 
*.aps 
*.suo 
*.ncb 
*.user 
*.opt 
*.plg 
*/Debug* 
*/Release* 
*/debug* 
*/release*
*.obj 
*.vspscc
*.pch 
*.idb 
*.pdb 
*.manifest 
*.res 
*.exe 
*.dll 
*.swp 
*.trx 
*/TestResults 
*.vcxproj.filters 
ipch 
*.sdf 
*.opensdf